html, body {
    margin:0 auto;
}

div.content {
    margin:0 auto;
    width:900px;
}

ul {
    list-style:none;
}

div.header li {
    display:inline;
    padding:10px;
}

div.header {
    width:100%;
    text-align:center;
}

div.login {
    margin:0 auto;
    width:100%;
    text-align:center;
}

table {
    margin:0 auto;
    text-align:center;
}
table th {
    font-weight:bold;
    text-align:left;
}

div.inclusao {
    margin:0 auto;
    width:100%;
    text-align:center;
}
