<div class="login">
    <form action="/login" method="post">
        Usuário <input type="text" name="usuario" data-must="1"/>
        Senha <input type="password" name="senha" data-must="1"/>
        Mater logado <input type="checkbox" name="recordar" />
        <input type="submit" value="Entrar"/>
    </form>
</div>
