<div class="inclusao">
    <form method="post" action="/Tarefa/editar/?id=<?php echo $_GET['id']?>">
        Título <input type="text" name="titulo" data-must="1" value="<?php echo $this->data['tarefa']->getTitulo() ?>"/><br/>
        Descrição <textarea name="descricao" data-must="1">  <?php echo $this->data['tarefa']->getDescricao() ?></textarea><br/>
        Prazo em dias <input type="text" name="prazo_dias" data-must="1" data-type="number" value="<?php echo $this->data['tarefa']->getPrazoDias() ?>" /><br/>
        Nome do responsável <input type="text" name="nome_responsavel" data-must="1" value="<?php echo $this->data['tarefa']->getNomeResponsavel() ?>"/><br/>
        <input type="submit" value="salvar" />
    </form>
</div>
