<div class="inclusao">
    <form method="post" action="/Tarefa/incluir">
        Título <input type="text" name="titulo" data-must="1"/><br/>
        Descrição <textarea name="descricao" data-must="1"> </textarea><br/>
        Prazo em dias <input type="text" name="prazo_dias" data-must="1" data-type="number" /><br/>
        Nome do responsável <input type="text" name="nome_responsavel" data-must="1"/><br/>
        <input type="submit" value="cadastrar" />
    </form>
</div>
