<table>
    <tr>
        <th>Id da Tarefa</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Prazo em dias</th>
        <th>Nome do responsável</th>
    </tr>
    <?php foreach ($this->data['tarefas'] as $tarefa): ?>
    <tr>
        <td><?php echo $tarefa->getIdTarefa()?></td>
        <td><a href="/Tarefa/editar/?id=<?php echo $tarefa->getIdTarefa(); ?>"><?php echo $tarefa->getTitulo()?></a></td>
        <td><?php echo $tarefa->getDescricao()?></td>
        <td><?php echo $tarefa->getPrazoDias()?></td>
        <td><?php echo $tarefa->getNomeResponsavel()?></td>
    </tr>
    <?php endforeach; ?>
</table>
