<div class="header">
    <ul>
        <li><a href="/Tarefa/relatorio">Ver relatório</a></li>
        <li><a href="/Tarefa/incluir">Fazer inclusão</a></li>
        <?php if (\App\Session\Session::read() != null) : ?>
            <li><a href="/Login/logout">Sair do sistema</a></li>
        <?php endif; ?>
    </ul>
</div>
