<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <title>Teste</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    </head>
    <body>
        <?php $this->getHeader(); ?>
        <div class="content">
            <?php $this->getContent(); ?>
        </div>
    </body>
</html>
